Repository amanthanvi/synac, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, tests, pwa, search, content, cloudflare, security, build, infra, dependencies

fix(governance): quote colon-containing label names in labels.yml for label-sync
  .github/labels.yml
Labels: infra

fix(governance): quote colon-containing label names in labels.yml
  .github/labels.yml
Labels: infra

fix(governance): switch labels manifest to top-level array for label-sync
  .github/labels.yml
Labels: infra

chore(governance): add repository labels config
  .github/labels.yml
Labels: infra

chore(ci,dx): tighten CI (concurrency, coverage step, Playwright cache) and add pre-commit guardrails
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  package.json
Labels: ci, build, infra, dependencies

chore(governance,security): add issue templates and Gitleaks secret scanning workflow
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/gitleaks.yml
Labels: ci, security, infra

chore(husky): add portable husky shim and ensure pre-commit is executable
  .husky/_/husky.sh
  .husky/pre-commit
Labels: infra

chore(pwa,tests): enforce unit coverage, add runtime caching for /search.json, stabilize offline E2E; docs and Node pin
  .kilocode/mcp.json
  .nvmrc
  README.md
  astro.config.mjs
  package-lock.json
  package.json
  src/scripts/searchClient.ts
  vitest.config.ts
Labels: docs, tests, pwa, search, cloudflare, build, infra, dependencies

chore(governance): fix labels sync action inputs (use token input)
  .github/workflows/labels-sync.yml
Labels: ci, infra

chore(governance): add CODEOWNERS and PR template
  .github/CODEOWNERS
  .github/pull_request_template.md
Labels: infra

chore(security): add CodeQL code scanning workflow
  .github/workflows/codeql.yml
Labels: ci, security, infra

chore(lockfile): sync package-lock.json with devDeps (husky, lint-staged) for CI npm ci
  package-lock.json
Labels: build, dependencies

chore(pwa,tests): enforce unit coverage, stabilize offline determinism, and add PWA runtime cache (#6)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labels.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/gitleaks.yml
  .github/workflows/labels-sync.yml
  .gitignore
  .husky/_/husky.sh
  .husky/pre-commit
  .kilocode/mcp.json
  .nvmrc
  README.md
  astro.config.mjs
  package-lock.json
  package.json
  src/scripts/searchClient.ts
  vitest.config.ts
Labels: ci, docs, tests, pwa, search, cloudflare, security, build, infra, dependencies

chore(deps,ci): add Dependabot configuration
  .github/dependabot.yml
Labels: infra

.github/labeler.yml:

# Map labels to file path globs. Runs via actions/labeler.
# Reference: https://github.com/actions/labeler
ci:
  - '.github/workflows/**'

docs:
  - 'README.md'
  - 'CONTRIBUTING.md'
  - 'CHANGELOG.md'
  - 'docs/**'

tests:
  - 'tests/**'
  - 'vitest.config.ts'
  - 'playwright.config.ts'

pwa:
  - 'astro.config.mjs'
  - 'public/**'
  - 'src/scripts/**'

search:
  - 'src/lib/searchBuild.ts'
  - 'src/scripts/searchClient.ts'
  - 'src/pages/search.json.ts'

content:
  - 'src/content/**'

cloudflare:
  - 'wrangler.toml'
  - 'src/pages/api/**'
  - 'astro.config.mjs'

security:
  - '.github/workflows/codeql.yml'
  - '.github/workflows/gitleaks.yml'

build:
  - 'package.json'
  - 'package-lock.json'
  - 'scripts/**'

infra:
  - '.husky/**'
  - '.nvmrc'
  - '.github/**'

dependencies:
  - 'package.json'
  - 'package-lock.json'
